<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.yxq.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>articleServlet</servlet-name>
    <servlet-class>com.yxq.servlet.ArticleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>photoServlet</servlet-name>
    <servlet-class>com.yxq.servlet.PhotoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>friendServlet</servlet-name>
    <servlet-class>com.yxq.servlet.FriendServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>wordServlet</servlet-name>
    <servlet-class>com.yxq.servlet.WordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logonServlet</servlet-name>
    <servlet-class>com.yxq.servlet.LogXServlet</servlet-class>
  </servlet>  
  
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>articleServlet</servlet-name>
    <url-pattern>/ArticleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>photoServlet</servlet-name>
    <url-pattern>/PhotoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>friendServlet</servlet-name>
    <url-pattern>/FriendServlet</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>wordServlet</servlet-name>
    <url-pattern>/WordServlet</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
    <servlet-name>logonServlet</servlet-name>
    <url-pattern>/LogonServlet</url-pattern>
  </servlet-mapping>
</web-app>
